/* body styles */
body {
    background-color: white;
    text-align: center;
    background-image:url(img/background.svg);
    font-size: 16px;
    line-height: 24px;
    max-width: 100%;
    overflow-x: hidden;
}

/* body styles */

/* container */

.container-fluid {
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
}

/* container */

/* main separator */

.separator {
    border-bottom: 2px solid grey;
    margin-top: 20px;
    padding-top: 20px;
}

/* main separator */

/* sections styles */

.spacing {
    margin-top:15px;
    margin-bottom: 30px;
}

p.d-inline-block {
    text-align: center;
    max-width: 200px;
}

#Section-adoption {
    margin-top: 50px;
}

#Don {
    border-radius: 15px !important;
    border: 3px solid gold;
    padding: 20px;
}

.ans {
    color:green ;
    font-weight: bold;
}

.charges {
    color:goldenrod;
    font-weight: bold;
}

.benevoles {
    color: red;
    font-weight: bold;
}

/* sections styles */

/* ul styles */

.ul-style {
    border-radius: 15px;
    border: 3px solid grey;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ul-style li {
    margin-bottom: 15px; 
}

#ul-tab {
    border-radius: 15px;
    border: 3px solid grey;
}

/* ul styles */